{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="../static/css/main.css">{% endblock %}

{% block content %}
    
    <section class="my-4">
      <div class="container"> 
          <div class="row">      
            <div class="col-lg-3 col-md-3 mb-3">
              <div class="card w-auto">
                <ul class="list-group list-group-flush">
                  <li id='category_btn' value="" class="btn category_li list-group-item">All</li>
                  <li id='category_btn' value="electronics" class="btn category_li list-group-item">Elecronics</li>
                  <li id='category_btn' value="clothes" class="btn category_li list-group-item">Clothes</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row gy-3 align-items-center" id="products-div">
                </div>
            </div>

          </div>
      </div> 
    </section>   
    <!-- JavaScript Bundle with Popper -->
    

{% endblock %}
{% block scripts %}
<script type="module" src="../static/js/render_products.js"></script>
<script type="module" src="../static/js/cookie_utils.js"></script>
{% endblock %}
